/* ----------------------------------------Media Screen ----------------------------------------------------- */

@media screen and (max-width: 559px) {
    .container{
        width: 100%;
    }
    .bars {
        display: block;
        padding-left: 40rem;
        font-size: 2rem;
    }

    .nav-options {
        display: none;
    }

    .nav-container {
        margin-left: 10px;
        padding-left: 20px;
    }
}

@media screen and ((min-width:600px) and (max-width:992px)) {
    .container{
        width: 100%;
    }
    .bars {
        display: none;
    }
    .nav-container{
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
}

@media screen and (min-width:992px) {
    .bars {
        display: none;
    }
}