/* ----------------------------------------Media Screen ----------------------------------------------------- */

@media screen and (max-width: 559px) {
    .nav-container > .bars {
        display: block;
        font-size: 2rem;
    }
}

@media screen and ((min-width:768) and (max-width:992)) {
    .nav-container >.bars {
        display: none;
    }
}

@media screen and (min-width:992) {
    .nav-container >.bars {
        display: none;
    }
}