@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

/* ----------------------------------------------Common Property------------------------------------------- */
body {
  margin: 0 auto;
  padding: 0;
  background-color: black;
}

.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 78px;
}

.container {
  width: 1440px;
  font-family: "Inter", sans-serif;
  font-family: "Grey Qo", cursive;
  color: white;
  /* background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%); */
  margin: 5rem 11rem;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
}

h3 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2.25rem;
  font-weight: 800;
}
h4 {

  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;

}

h5 {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}

p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  padding: 16px 40px 16px 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  /* text-align: left; */
}


.primary_text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;

}

.secondary_text {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 70px;
  font-weight: 800;
}

.third_text {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
}

/* ----------------------------------Nav section--------------------------------------------------- */

.nav-container {
  width: 90rem;
  height: 3rem;
  background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
  margin-right: 11rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 11rem; */
}

.nav-options {
  width: 30rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding-right: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3rem;



}

.nav-options p:first-child {
  width: 6rem;
  height: 2.5rem;
  border-radius: 3rem;
  background: rgb(230, 83, 60);
  display: flex;
  align-items: center;
  justify-content: center;

}

.bars {
  display: none;
  font-size: 20px;
  font-weight: bold;
}

/* ---------------------------------------Banner Section--------------------------------------- */

.banner-section {
  width: 90rem;
  height: 45rem;
  display: grid;
  grid-template-columns: 55% 45%;

}

.banner-section-left {
  width: 38rem;
  height: 100%;

}

.banner-section-left h1 {
  width: 38rem;
  height: 17rem;
  padding-bottom: 2rem;

}

.banner-section-left p {
  width: 38rem;
  height: 3rem;
  padding-bottom: 2rem;
}

.banner-section-left>.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.banner-section-left button:nth-child(1) {
  background: rgb(230, 83, 60);
  margin-right: 10px;
}

.banner-section-left button:nth-child(2) {
  background: black;
}


.banner-section-right {

  width: 38rem;
  height: 27.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.banner-img {
  background-image: url(../images/images-2.png);
  background-repeat: no-repeat;
  width: 28rem;
  height: 38rem;
  border: 2px solid red;
}


.banner-section-right-3 {
  width: 14rem;
  height: 96px;
  left: 764px;
  top: 556px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border: 2px solid red;
}

.icon-circle {
  padding-left: 0;
  margin-left: 0;
  background: rgb(230, 83, 60);
  border-radius: 48rem;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  color: rgb(230, 83, 60);
  border: 2px solid red;

}

.banner-section-right-3 .icon-circle-desc {
  width: 10rem;
  height: 4rem;
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.banner-section-right-3 .icon-circle-desc h5 {
  width: 68px;
  height: 24px;
  border: 2px solid blue;
}

.banner-section-right-3 .icon-circle-desc p {
  width: 108px;
  height: 24px;
  border: 2px solid blue;
}

.banner-play {
  width: 14.63px;
  height: 20px;
  left: 817px;
  top: 434.61px;
  /* transform: rotate(90.00deg); */
}


/* ---------------------------------Change your Habits --------------------------------- */



.change-your-habits {
  display: grid;
  grid-template-rows: 35% 65%;
}

.change-your-habits-content h3, p {
  text-align: center;
}


.change-your-habits-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.change-your-habits-img-1 img, .change-your-habits-img-2 img, .change-your-habits-img-3 img, .change-your-habits-img-4 img {
  width: 272px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid;
  color: rgba(255, 255, 255, 0.5);
}

/* ------------------------------------------Run an Extra Mile Easily-------------------------------- */


.run-as-extra-mile-easily {
  display: flex;
  flex-direction: row;
  height: 371px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 3rem;
  margin-top: 3rem;
}

.run-as-extra-mile-easily-content {
  padding-right: 165px;
}


.run-as-extra-mile-easily-img img {

  width: 366px;
  height: 312px;
  border-radius: 18px;
}

/* --------------------------------Training and Exercise--------------------------------------------- */

.training-and-exercise {
  display: flex;
  flex-direction: column;
}

.training-and-exercise-img-part-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 323px;
  height: 218px;
}

.training-and-exercise-img-part-2 img {
  height: 218px;
  background: rgba(6, 255, 210, 0.5), url(3);
  border: 2px solid red;
}



/* -------------------------------------------BMI Calculator-------------------------------------------- */

.calculator-bmi-chart {
  border: 2px solid red;
}

.calculator-bmi {
  border: 2px solid red;
}

.calculator-bmi-chart table tr, th, td {
  border: 2px solid yellow;
}

table {
  width: 350px;
  height: 200px;

}

th, td {
  border: 1px solid yellow;
  padding: 20px;

}

/* ---------------------------------------------------Meet Our Team-------------------------------------- */
.meet-our-team-container {
  width: 100%;
  margin-left: 190px;
}

.team-content {
  width: 1060px;
  height: 604px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  margin: 88px 0px;

}

.header-part {
  margin: 0px 20px;
  width: 1060px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header-part h4 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
}

.header-part p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.team-img {
  /* width: 100%; */
  margin-top: 50px;
  width: 1060px;
  height: 604px;
  display: grid;
  grid-template-rows: repeat(2, 3fr);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.team-img-part-1,
.team-img-part-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.team-img-part-1 img,
.team-img-part-2 img {
  width: 326.67px;
  height: 272px;
  border-radius: 20px;

}



/* -----------------------------------------Footer ----------------------------------------------- */
.footer-container {
  width: 100%;
  margin: 0 auto;
  height: 489px;
  background-color: black;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.footer-content {
  width: 1059px;
  height: 249px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 11rem;
}

.part-1 {
  width: 443px;
  height: 176px;
  margin-right: 200px;
}

.part-1 h1 {
  color: #E6533C;
}


.part-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.part-2a,
.part-2b {
  display: flex;
  flex-direction: column;
}

.copyright hr {
  border: 2px solid red;
  width: 1059px;
  margin-left: 11rem;
  margin-top: 40px;
}

.copyright p {
  margin-left: 180px;
}

.copyright {
  margin-top: 30px;
  width: 1059px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}