@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

/* ----------------------------------------------Common Property------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Grey Qo", cursive;
  font-family: "Inter", sans-serif;

}

h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

h3 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  text-align: left;
}

h4 {

  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;

}


h5 {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}

p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  padding: 16px 40px 16px 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  /* text-align: left; */
}


.primary_text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;

}

.secondary_text {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 70px;
  font-weight: 800;
}

.third_text {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
}


.container {
  width: 90%;
  color: white;
  margin: 3rem auto;
  border-radius: 18px;
}

/* ------------------------Nav Bar----------------------------------------------- */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-head {
  width: 12rem;
  height: 5rem;
  color: rgb(230, 83, 60);
  padding: 0;
  margin-top: 0;
  align-items: center;
}

.nav-options {
  width: 30rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding-right: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
  margin-top: 3.8rem;
}

.nav-options p {
  cursor: pointer;
}

.nav-options p:first-child {
  width: 6rem;
  height: 3rem;
  border-radius: 3rem;
  background: rgb(230, 83, 60);
  display: flex;
  align-items: center;
  justify-content: center;

}

.bars {
  display: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3.8rem;
}

/* ---------------------------------------Banner Section--------------------------------------- */

.banner-section {
  /* width: 90rem; */
  height: 40rem;
  display: grid;
  grid-template-columns: 55% 45%;
  margin-bottom: 0;

}

.banner-section-left {
  width: 38rem;
  height: 100%;

}

.banner-section-left h1 {
  width: 38rem;
  height: 17rem;
  padding-bottom: 2rem;

}

.banner-section-left p {
  width: 38rem;
  height: 3rem;
  padding-bottom: 2rem;
}




.banner-section-left>.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.banner-section-left button:nth-child(1) {
  background: rgb(230, 83, 60);
  margin-right: 10px;
}

.banner-section-left button:nth-child(2) {
  background: black;
}


.banner-section-right {

  width: 38rem;
  height: 27.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}

.banner-img {
  background-image: url(../images/images-2.png);
  background-repeat: no-repeat;
  width: 28rem;
  height: 40rem;
}

.banner-section-right-1 h3 {
  text-align: left;
}

.banner-section-right-1 p {
  margin-top: 5px;
}



.banner-section-right-1 {
  margin: 0;
  padding: 0;
  width: 25rem;
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.76px solid rgba(255, 255, 255, 0.1);
  border-radius: 9.07px;
  backdrop-filter: blur(15.12px);
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20rem;
  margin-left: 2px;
}

.banner-section-right-3 {
  margin: 0;
  padding: 0;
  width: 25rem;
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
  margin-top: 2px;
  margin-right: 8rem;
}


.banner-section-right-3 h3 {
  /* margin-top: 5px; */
  margin: 0;
  padding: 0;
  text-align: left;
}

.banner-section-right-3 p {
  margin-top: 5px;
}


.icon-circle {
  background: rgb(230, 83, 60);
  border-radius: 48rem;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  color: rgb(230, 83, 60);
}

.banner-section-right-3 .icon-circle-desc {
  width: 10rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.banner-play {
  width: 14.63px;
  height: 20px;
}




/* ---------------------------------Change your Habits --------------------------------- */

.change-your-habits {
  display: grid;
  grid-template-rows: 35% 65%;
}

.change-your-habits-content h2 {
  text-align: center;
  margin-bottom: 0;
}

.change-your-habits-content p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}

.change-your-habits-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
  margin: 10px;
}

.change-your-habits-img-1 img, .change-your-habits-img-2 img, .change-your-habits-img-3 img, .change-your-habits-img-4 img {
  width: 272px;
  height: 180px;
  border-radius: 45%;
  border: 1px solid;
  color: rgba(255, 255, 255, 0.5);

}

.change-your-habits-img-1 h3, .change-your-habits-img-2 h3, .change-your-habits-img-3 h3, .change-your-habits-img-4 h3 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}


.change-your-habits-img-1 p, .change-your-habits-img-2 p, .change-your-habits-img-3 p, .change-your-habits-img-4 p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;

}


/* ------------------------------------------Run an Extra Mile Easily-------------------------------- */


.run-as-extra-mile-easily {
  /* width: 66.25rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 371px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 2rem;
  /* margin-top: 3rem; */
  margin: 3.8rem 0px;
}

.run-as-extra-mile-easily-content {
  /* padding-right: 165px; */
  margin-right: 165;
  width: 443px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.run-as-extra-mile-easily-content h3 {
  padding-right: 8.75rem;
  padding-bottom: 3rem;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  margin: 0 auto;

}

.run-as-extra-mile-easily-content p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  padding-bottom: 3rem;
}

.run-as-extra-mile-easily-content button {
  background: rgb(230, 83, 60);
  width: 224px;
  height: 54px;
  margin-right: 13.75rem;
  border-radius: 18px;
  padding: 16px 40px 16px 40px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.run-as-extra-mile-easily-img img {
  width: 32rem;
  height: 23rem;
  border-radius: 18px;
}

/* --------------------------------Training and Exercise--------------------------------------------- */

.training-and-exercise {
  display: flex;
  flex-direction: column;
}

.training-and-exercise-content h2 {
  margin-bottom: 20px;
  padding-bottom: 0;

}

.training-and-exercise-content p {
  margin-top: 0;
  padding-top: 0;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.training-and-exercise-img {
  height: 448px;
  margin-top: 20px;
}

.training-and-exercise-img-part-1 {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr 1fr;
}


.training-and-exercise-img-part-2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
}

.trainee {
  position: relative;

}

.training-and-exercise-img img {
  width: 100%;
  height: 220px;

}

.trainee-name {
  position: absolute;
  left: 25%;
  top: 75%;
  font-size: 16px;
  color: white;
  transform: translate(-25%, -75%);
}

.te-1 img {
  filter: opacity(0.5) drop-shadow(0 0 0 #06FFD280);
}

.te-2 img {
  filter: opacity(0.5) drop-shadow(0 0 0 #FF00004D);
}

.te-3 img {
  filter: opacity(0.5) drop-shadow(0 0 0 #00000080);
}

.te-4 img {
  filter: opacity(0.5) drop-shadow(0 0 0 #00000080);
}

.te-5 img {
  filter: opacity(0.5) drop-shadow(0 0 0 #42FF004D);
}

.te-6 img {
  filter: opacity(0.5) drop-shadow(0 0 0 #0047FF4D);
}



/* -------------------------------------------BMI Calculator-------------------------------------------- */
/* 
.bmi-Calculation-container {
  width: 90%;
  margin: 0 auto;
  height: 489px;
  background-color: black;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;

} */


.bmi-calculator-content {
  height: 10rem;
  background-color: black;
  padding-bottom: 20px;
  margin-left: 0;
  text-align: left;

}


.bmi-calculator-content h2 {
  text-align: left;
  margin-left: 30rem;
  margin-bottom: 0;
  text-align: left;
}

.bmi-calculator-content p {
  text-align: left;
  margin-left: 30rem;
  padding-left: 22rem;
  text-align: left;
  margin-left: 8rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* 
.bmi-container {
  border: 2px solid red;
  margin: 0 auto;
  padding-top: 0;
  background: rgb(34, 34, 34);
 
}

*/
.bmi-calculation {
  height: 487px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  background: rgba(255, 255, 255, 0.1);

}

.calculator-bmi-chart {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 11rem;
  margin-left: 10rem;


}


.calculator-bmi-chart table {
  width: 350px;
  height: 200px;
  margin-bottom: 8rem;
}

.calculator-bmi-chart th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  font-family: Inter;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.calculator-bmi-chart td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.calculator-bmi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45rem;
  height: 29rem;
  left: 674px;
  top: 49px;
  padding-left: 18rem;
}

.calculator-bmi h5 {
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;

}

.calculator-bmi p {
  width: 577px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;

}

.calculator-bmi td {
  width: 15rem;
  height: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.calculator-bmi select {
  width: 20rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;

}


.calculator-bmi button {
  margin-top: 20px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  border: none;
  background: rgb(230, 83, 60);
  width: 224px;
  height: 54px;
}


/* ---------------------------------------------------Meet Our Team-------------------------------------- */

.meet-our-team-container {
  width: 90%;
  height: auto;

}


.team-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.meet-header-part {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.meet-header-part h2 {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 1rem;
}

.meet-header-part p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.team-img {
  width: 90%;
  height: auto;
  padding: 10px 20;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.team-img-part-1,
.team-img-part-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.team-img-part-1 img {
  padding-bottom: 10px;
}

.team-img-part-1 img,
.team-img-part-2 img {
  width: 25rem;
  height: 17rem;
  border-radius: 20px;
  padding-top: 1rem;

}

.trainer {
  position: relative;

}

.trainer-name {
  position: absolute;
  left: 25%;
  top: 75%;
  font-size: 16px;
  color: white;
  transform: translate(-25%, -75%);
}

.employee {
  position: absolute;
  left: 25%;
  top: 85%;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  transform: translate(-25%, -75%);
}


/* -----------------------------------------Footer ----------------------------------------------- */
.footer-container {
  width: auto;
  height: auto;
  margin: auto;
  
  background-color: black;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.footer-content {
  width: 100%;
  height: 249px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 1rem;
  text-align: left;

}

.part-1 {
  width: 443px;
  height: 200px;
  margin-right: 10px;

}

.part-1 h1 {
  padding-bottom: 0;
  color: #E6533C;
}

.part-1 p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}


.part-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 40px;
  /* margin-left: 1rem; */

}

.part-2 .part-2a {
  margin-left: 2rem;
}

.copyright hr {
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 1440px;
  margin-left: 11rem;
  margin-top: 40px;
}

.copyright p {
  margin-left: 180px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.copyright {
  margin-top: 30px;
  /* width: 1059px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}